
.social-icons-div{
    height: 10px;
    width: 90px;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
    padding: 15px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

.social-icons-div img{
    width: 80%;
}
  .Container-image{
    border-radius: 150px;
    align-items: center;
    display: flex;
   
  }
 
  .login-button{
    padding-top: 3px;
  }
  .link{
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
  }

  .env{
    margin-top: 10px;
    position: absolute;
    margin-left: 12px;   
  }
 
  .input-form{
    padding-left: 35px;
    background: #d3d3d3;
  }
  